body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}


h1 {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.button {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0px 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Хедер*/
.main-header {
  /*Блочная модель*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 59px;

  /*Типографика*/
  background-color: #f3f7f8;
}

/*Синяя часть хедера*/
.header-top-wrapper {
  width: 100%;
  margin-bottom: 46px;

  background-color: #32425c;
}

.header-top {

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;


}

.main-logo {
  float: left;
  width: 220px;
  height: 47px;
}

.user-navigation,
.site-navigation {
  /*Блочная модель*/

  margin: 0;
  padding: 0;

  /*Типографика*/
  list-style: none;
}

.user-navigation li {
  display: inline-block;

  text-align: center;
}

.site-navigation li {
  display: inline-block;


  text-align: center;
}


.user-navigation a {

  color: #ffffff;
}

.user-search {
  display: block;
  width: 270px;
  height: 42px;
}

.user-bookmarks {
  width: 150px;
  height: 42px;
}

.user-cart {
  width: 150px;
  height: 42px;
}

.user-order {
  width: 150px;
  height: 42px;
}

.site-navigation {
  line-height: 17px;
}


.site-navigation a {
  display: block;
  width: 127px;
  height: 60px;

  color: #ffffff;
}

.user-order a {
  background-color: #63a63e;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #293449;
}

.user-order a:hover,
.user-order a:focus {
  background-color: #5fbb2d;
}

.user-order a:active {
  color: rgba(255, 255, 255, 0.51);
  background-color: #518534;
}

.main-navigation {
  order: 3;
  margin-bottom: 60px;

  background-color: #32425c;
}

/*Светлая часть хедера*/

.header-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.header-bottom h1 {
  display: block;
  float: left;
  box-sizing: border-box;
  width: 300px;
  height: 70px;
  padding-left: 50px;
  padding-right: 50px;
}

.header-contacts {
  display: inline-block;
  width: 290px;
  height: 70px;
  margin-right: 69px;
}

.header-phone {
  display: block;
  box-sizing: border-box;
  width: 270px;
  height: 45px;
  border: 3px solid #ffffff;
  margin-bottom: 10px;
}

.header-phone a {

  color: #ee3643;
}

.header-address {
  margin: 0px;
  padding: 0px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.client-area {
    display: inline-block;
  }

.client-area span {
  display: inline-block;
}

.login-link-enter {
  display: block;
  box-sizing: border-box;
  width: 121px;
  height: 45px;
  margin-right: 10px;
  background-color: #ffffff;
}

.login-link-registration {
  display: block;
  box-sizing: border-box;
  width: 150px;
  height: 45px;
  background-color: #ffffff;
}

.client-area a {
  color: #000000;
}

.client-area a:hover,
.client-area a:focus {
  color: #ee3643;
}

.client-area a:active {
  color: rgba(0, 0, 0, 0.3);
}

.private-area {
  list-style: none;
}

.private-area a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.private-area a:hover,
.private-area a:focus {
  color: #ee3643;
}

.private-area a:active {
  color: rgba(50, 66, 92, 0.3);
}

/*Хлебные крошки*/

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
}

/*Заголовок внутренней страницы*/

.goods-title {
  background-color: #f2f6f8;
}

/*Фильтры и сортировка*/

.filters {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.filters legend{
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filters-price input {
  font: inherit;
  font-size: 17px;
  line-height: 18px;
}

.filters button {
   font: inherit;
   background-color: transparent;
   border: 1px solid rgba(0, 0, 0, 0.5); /*не уверена в значении непрозрачности*/
}

.filters button:hover,
.filters button:focus {
  border-color: rgba(0, 0, 0, 0.6); /*не уверена в значении непрозрачности*/
}

.filters button:active {
  border-color: rgba(0, 0, 0, 0.4);
}

.sort-selection {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-by a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort-by a:hover,
.sort-by a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-by a:active {
  color: #ee3643;
}

.sort-order a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-order a:hover,
.sort-order a:focus {
  color: #000000;
}

.sort-order a:active {
  color: #ee3643;
}

/*Категории товаров*/

.main-categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 53px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

 .categories-list{
  align-self: stretch;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  list-style: none;
}


.categories-list li {
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  height: 123px;
  margin-right: 20px;

  background-color: #ffbf47;
}


.categories-list a {
  background-color: rgba(0, 0, 0, 0.1);
}

.categories-list a:hover,
.categories-list a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.categories-list a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.categories-list .tools {
  background-color: #3bbce3;
}

 .categories-list .machinery {
  margin-right: 0px;

  background-color: #dc91d8;
}

.categories-wrapper {
  display: flex;
  justify-content: space-between;

}

.categories-slider {
  display: inline-block;
  margin: 0px;
  margin-right: 20px;
  padding: 0px;

  list-style: none;
}


.categories-slider .categories-slider-perforators {
  box-sizing: border-box;

  background-color: #cccccc;
  background-image: url("../img/slider-perforator.jpg");
  background-repeat: no-repeat;
  width: 620px;
  height: 266px;
}

.categories-slider .categories-slider-drills {
  display: none;
  box-sizing: border-box;

  background-color: #cccccc;
  background-image: url("../img/slider-drill.jpg");
  background-repeat: no-repeat;
  width: 620px;
  height: 266px;

}

.categories-slider ul h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}

.categories-slider ul span {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.categories-services {
  display: block;
  margin: 0px;
  padding: 0px;

  list-style: none;
}

.categories-services li {
  display: block;
  box-sizing: border-box;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;

  background-color: #ffbf47;
}

.categories-services a {
  background-color: rgba(0, 0, 0, 0.1);
}

.categories-services a:hover,
.categories-services a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.categories-services a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.categories-services .discount {
  background-color: #8ed78f;
}

/*Популярные товары*/

.catalogue-title {
  background-color: #f9f5f0;
}

.catalogue ul {
  list-style: none;
}

.catalogue-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.catalogue-item-price {
  font-size: 17px;
  line-height: 18px;
}

.old-item-price {
  color: #a9a9a9;
  text-decoration: line-through;
}

.current-item-price {
  color: #ffffff;

  background-color: #ee3643;
}

.item-pointed .button {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #63a63e;
}

.item-pointed .button:hover,
.item-pointed .button:focus {
  background-color: #5fbb2d;
}

.item-pointed .button:active {
  background-color: #518534;
}

.item-pointed .to-bookmarks {
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.item-pointed .to-bookmarks:hover,
.item-pointed .to-bookmarks:focus {
  background-color: #ffffff;
  border-color: #32425c;
}

.item-pointed .to-bookmarks:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.3);
}

/*Популярные производители*/

.producers ul {
  list-style: none;
}

/*Сервисы*/

.main-services {
  background-color: #f4f8fa;
}

.main-services h2 {
  color: #000000;
}

.main-services p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.main-services b {
  /*font-family: "PT Sans", Arial, sans-serif;*/
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.services-selection {
  list-style: none;
}

.services-button {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;

  background-color: #32425c;
}

.services-button:hover,
.services-button:focus {
  color: #ffffff;

  background-color: #293449;
}

.services-current {
  color: #32425c;

  background-color: #ffffff;
}

.services-list {
  list-style: none;
}

.services-list .delivery {
  background-image: url("../img/services_delivery.png");
  min-height: 285px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.main-services .guarantee {
  background-image: url("../img/services_guarantee.png");
  min-height: 285px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.main-services .loan {
  background-image: url("../img/services_credit.png");
  min-height: 285px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

/*Компания*/

.technomart-about p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.delivery-companies {
  font: inherit;
  line-height: 20px;
  list-style: none;
}

/*Контакты*/

/*Внутренняя страница пагинация*/
.pagination-list {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  list-style: none;
}

.pagination-item-current {
  color: #ffffff;

  background-color: #ee3643;
}

.pagination-item a {
  border: 1px solid rgba(0, 0, 0, 0.4); /*не уверена в значении непрозрачности*/
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid rgba(0, 0, 0, 0.6); /*не уверена в значении непрозрачности*/
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

/*Внутренняя страница описание*/
.catalogue-item-description {
  background-color: #f2f6f8;
  color: #000000;
}

.catalogue-item-description h2 {
  color: #000000;
}

.catalogue-item-description p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/*Футер*/

.bottom-site-navigation {
  font: inherit;
  color: #f3f7f9;

  background-color: #32425c;
}

.site-navigation-top {
  list-style: none;
}

.site-navigation-top a {
  font: inherit;
  color: #f1f5f7;
}

.site-navigation-top a:hover,
.site-navigation-top a:focus {
  text-decoration: underline;
}

.site-navigation-top a:active {
  color: rgba(241, 245, 247, 0.5);
}

.site-navigation-bottom {
  list-style: none;
  font: inherit;
  color: #ffd180;
}

.site-navigation-bottom a {
  font: inherit;
  color: #ffd180;
}

.site-navigation-bottom a:hover,
.site-navigation-bottom a:focus {
  text-decoration: underline;
}

.site-navigation-bottom a:active {
  color: rgba(255, 209, 128, 0.5);
}

.technomart-details {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.technomart-details a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.technomart-details a:hover,
.technomart-details a:focus {
  text-decoration: underline;
}

.technomart-details a:active {
  color: #ee3643;
}

/*Техномарт на карте*/

/*Напишите нам*/

.write-us-form {
  font-size: 18px;
  line-height: 18px;
}

.write-us-form input {
  font: inherit;
  font-size: 13px;
  line-height: 18px;

  background-color: transparent;
  border: 2px solid #dee3e4;
}

.write-us-form textarea {
  font: inherit;
  font-size: 13px;
  line-height: 18px;

  background-color: transparent;
  border: 2px solid #dee3e4;
}

.write-us-form button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
}

.write-us-part-send {
  background-color: #f4f4f4;
}

/*Корзина*/

.catalogue-cart {
  color: #000000;
}

.catalogue-purchase {
  list-style: none;
  background-color: #f1f1f1;
}

.catalogue-purchase a {
  font-size: 14px;
  line-height: 18px;
}

/*.catalogue-purchase*/ .continue a {
  color: #000000;

  background-color: #ffffff;

}
