body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.container {
  width: 940px;
  margin: 0 auto;
  /*padding: 0px 10px;*/
}


/*Хедер*/
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 60px;

  background-color: #f3f7f8;
}

/*Синяя часть хедера*/
.header-top-wrapper {
  width: 100%;
  height: 42px;
  /*margin-bottom: 46px;*/

  background-color: #32425c;
}

.header-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.main-logo {
  width: 220px;
  height: 47px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 720px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation-item {
  min-width: 150px;
}

.user-navigation a {
  display: block;
  box-sizing: border-box;
  min-height: 42px;
  padding-top: 10px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  list-style: none;
  text-align: left;
  background-color: #32425c;
}

.user-navigation a:active {
  opacity: 0.3;
}

.quantity {
  padding-left: 5px;
}

.user-search-form {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 270px;
  height: 42px;
  padding: 0;
  padding-left: 50px;
  margin: 0;
}

.search-button {
  position: absolute;
  top: 10px;
  left: 15px;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;

  background-color: transparent;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.5;
  border: none;
}

.search-window {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  padding-left: 50px;
  min-height: 42px;

  background-color: transparent;
  border: none;
}

/*Не знаю, как оживить!!!*/

.search-window:focus + button {
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

.search-button:focus {
  position: absolute;
  top: 10px;
  left: 15px;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;

  background-color: transparent;
  background-image: url("../img/icon-search-focus.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.5;
  border: none;
}

.user-bookmarks {
  position: relative;
  padding-left: 45px;
}

.user-cart {
  position: relative;
  padding-left: 50px;
}

.user-navigation .user-order {
  padding-left: 20px;
  background-color: #63a63e;
}


.user-cart::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 17px;
  width: 18px;
  height: 18px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  opacity: 0.3;
}

.user-bookmarks::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 17px;
  width: 18px;
  height: 18px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  opacity: 0.3;
}

.user-cart:hover::before,
.user-bookmarks:hover::before,
.user-cart:focus::before,
.user-bookmarks:focus::before,
.user-cart:active::before,
.user-bookmarks:active::before {
  opacity: 1;
}


.user-navigation .user-order:hover,
.user-order a:focus {
  background-color: #5fbb2d;
}

.user-navigation .user-order:active {
  color: rgba(255, 255, 255, 0.51);
  background-color: #518534;
}

/*Основная навигация по сайту*/

.site-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0;
  padding: 0;

  line-height: 17px;
  list-style: none;
  border-bottom: 5px solid #293449;
}

.site-navigation a {
  display: block;
  /*padding: 20px 25px*/
  padding-top: 20px;
  padding-bottom: 19px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #32425c;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #1d2739;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #1d2739;
  opacity: 0.5;
}

.site-navigation .site-navigation-current {
  min-width: 140px;
  /*padding-left: 50px;
  padding-right: 33px;*/
}

.site-navigation .site-navigation-contacts {
  min-width: 150px;
  /*padding-right: 50px;
  padding-left: 34px;*/
}

.site-navigation .site-navigation-company {
  min-width: 125px;
}

.site-navigation .site-navigation-catalogue {
  min-width: 110px;
}

.site-navigation .site-navigation-news {
  min-width: 115px;
}

.site-navigation .site-navigation-delivery {
  min-width: 115px;
}

.site-navigation .site-navigation-offers {
  min-width: 185px;
}

.main-navigation {
  order: 3;
  margin-bottom: 59px;

  background-color: #32425c;
}

/*Светлая часть хедера*/

.header-bottom {
  order: 1;

  display: flex;
  justify-content: flex-start;
  padding-top: 46px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.header-bottom h1 {
  width: 195px;
  margin: 0px;
  padding: 3px 75px 40px 50px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  color: #ee3643;
}

.header-contacts {
  margin-right: 70px;

}

.header-phone a {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 270px;
  height: 45px;
  padding: 9px 48px 12px 70px;
  margin-bottom: 3px;

  text-align: center;
  vertical-align: middle;

  border: 3px solid #ffffff;

  color: #ee3643;
}

.header-phone a::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 9px;
  width: 25px;
  height: 25px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /*background-color: red;*/
}

.header-address {
  margin: 0px;
  padding: 0px;

  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.client-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 280px;
}

.login-link a {
  display: block;
  padding: 12px;

  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.login-link .login-link-enter {
  position: relative;
  padding: 12px 25px 12px 47px;
}

.login-link .login-link-enter::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 15px;
  width: 20px;
  height: 20px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /*background-color: red;*/
  opacity: 0.3;
}

.login-link .login-link-register {
  padding: 12px 24px;
}

.client-area a:hover,
.client-area a:focus {
  color: #ee3643;
}

.client-area a:active {
  color: rgba(0, 0, 0, 0.3);
}

.private-area {
  list-style: none;
}

.private-area a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.private-area a:hover,
.private-area a:focus {
  color: #ee3643;
}

.private-area a:active {
  color: rgba(50, 66, 92, 0.3);
}

/*Хлебные крошки*/
.inner-catalogue-wrapper {
  position: relative;
}

.breadcrumbs {
  position: absolute;
  top: -40px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-width: 365px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li::before {
  content: "";

  position: absolute;
  top: 3px;
  left: -28px;

  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 1px solid #c1c6ce;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(45deg);
}

.breadcrumbs-main::before {
  display: none;
}

.breadcrumbs-main {
  display: block;
  width: 15px;
  height: 18px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/*Фильтры и сортировка*/
.filters {
  width: 220px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}


.filters-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 38px;
  margin-bottom: 10px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.filters-header h3 {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}


.filters fieldset {
  padding: 0;
  margin: 0;

  border: none;
  border-bottom: 1px solid #c1c6ce;
}

.filters legend{
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filters-price input {
  font: inherit;
  font-size: 17px;
  line-height: 18px;
}

.filters-range-controls {
  position: relative;

  height: 41px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #f7f3ec;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 10px;
}

.filters-range-controls .scale {
  height: 2px;

  background-color: #d7dcde;
}

.filters-range-controls .bar {
  width: 140px;
  height: 2px;

  background-color: #00ca74;
}

.filters-range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.filters-range-controls .toggle-min {
  left: 18px;
}

.filters-range-controls .toggle-max {
  left: 160px;
}

.filters-price-controls {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 25px;
}

.filters-price-controls input {
  display: inline-block;
  width: 95px;
  padding: 9px 0;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
  text-align: center;
}

.filters-price-controls::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 105px;

  width: 10px;
  height: 1px;
  background-color: #000000;
}

.catalogue-filters .filters-producers {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  margin-top: 15px;
}

.catalogue-filters .filters-alimentation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  margin-top: 19px;
  margin-bottom: 57px;
  border: none;
}

.filters-producers label,
.filters-alimentation label {
  position: relative;

  display: block;
  margin-bottom: 20px;
  padding-left: 35px;

  cursor: pointer;
  user-select: none;

  font-size: 15px;
  line-height: 20px;
}

.filter-input:hover,
.filter-input:focus {
  opacity: 3; /*Не работает!!!*/
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.4;
}


.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;

  width: 19px;
  height: 19px;

  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: -8px;
  left: 9px;

  width: 5px;
  height: 15px;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
  overflow: hidden;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  top: -4px;
  left: -1px;

  width: 17px;
  height: 17px;

  border: 4px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 4px;
  left: 7px;

  width: 9px;
  height: 9px;

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.filters button {
  display: block;
  box-sizing: border-box;
  padding: 9px 39px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2); /*не уверена в значении непрозрачности*/
  border-radius: 3px;
}

.filters button:hover,
.filters button:focus {
  border-color: rgba(0, 0, 0, 0.6); /*не уверена в значении непрозрачности*/
}

.filters button:active {
  border-color: rgba(0, 0, 0, 0.4);
}

.inner-page-selected {
  width: 700px;
}

.sort-selection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sort-by {
  margin: 0px;
  padding: 0px;

  list-style: none;
}

.sort-by li {
  display: inline-block;
}

.sort-by a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort-by a:hover,
.sort-by a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-by a:active {
  color: #ee3643;
}

.sort-order a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-order a:hover,
.sort-order a:focus {
  color: #000000;
}

.sort-order {
  margin: 0px;
  padding: 0px;

  list-style: none;
}

.sort-order li {
  display: inline-block;
}

.sort-order a:active {
  color: #ee3643;
}

/*Категории товаров*/

.main-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /*align-items: space-between;*/
  align-content: space-between;
  min-height: 408px;

  margin-bottom: 53px;
}

 .categories-list {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
   min-width: 940px;

   margin: 0;
   padding: 0;

   list-style: none;
}

.category-services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-height: 266px;
  margin: 0;
  padding: 0;
}

.category-item,
.category-services-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  box-sizing: border-box;
  min-width: 300px;
  min-height: 123px;
  margin: 0;
  padding: 17px 130px 18px 24px;
  /*margin-bottom: 20px;*/

  background-color: #ffbf47;
}

.category-item h3,
.category-services-item h3 {
  margin: 0;
  padding: 0;
  /*padding-left: 25px;*/
  /*padding-right: 143px;*/

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.materials {
  position: relative;
}

.materials::before {
  content: "";

  position: absolute;
  top: 28px;
  right: 35px;
  width: 60px;
  height: 70px;

  background-image: url("../img/icon-materials.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 3;
  /*background-color: red;*/
  /*opacity: 0.3;*/
}

.tools {
  position: relative;

  background-color: #3bbce3;
}

.tools::after {
  content: "";

  position: absolute;
  top: 28px;
  right: 26px;
  width: 80px;
  height: 70px;

  background-image: url("../img/icon-tools.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /*background-color: red;*/
  /*opacity: 0.3;*/
}

.machinery {
  position: relative;
  /*margin-bottom: 20px;*/

  background-color: #dc91d8;
}

.machinery::after {
  content: "";

  position: absolute;
  top: 27px;
  right: 30px;
  width: 80px;
  height: 70px;

  background-image: url("../img/icon-machinery.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /*background-color: red;*/
  /*opacity: 0.3;*/
}

.discount {
  position: relative;
  background-color: #8ed78f;
}

.discount::after {
  content: "";

  position: absolute;
  top: 26px;
  right: 29px;
  width: 80px;
  height: 70px;

  background-image: url("../img/icon-discount.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.delivery {
  position: relative;
}

.delivery::after {
  content: "";

  position: absolute;
  top: 26px;
  right: 29px;
  width: 80px;
  height: 70px;

  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.category-services-item a,
.category-item  a {
  display: block;
  min-width: 85px;
  padding: 10px 25px;

  text-align: center;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.category-services-item a:hover,
.category-item a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.category-services-item a:active,
.category-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.categories-slider-wrapper {
  position: relative;
  width: 620px;
  height: 266px;
  background-image: url("../img/slider-perforator.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #cccccc;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.categories-sliders {
  margin: 0;
  padding: 0;

  list-style: none;
}

.categories-slider-wrapper::before {
  content: "";

  visibility: hidden;
}

.categories-slider-wrapper::before {
  background-image: url("../img/slider-drill.jpg");
}

/*.slide {
  display: none;
}*/

.slide-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  max-width: 280px;
  max-height: 266px;
  padding: 25px;
  /*box-sizing: border-box;*/
}

.slide-content h3 {
  padding: 0;
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.slide-content span {
  margin: 0;
  margin-bottom: 120px;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}
.slide-content a {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  max-width: 195px;

  text-align: center;
  vertical-align: middle;
  background-color: #ee3643;
  border-radius: 3px;
}

.slide-content a:hover,
.slide-content a:focus {
  background-color: #ca2c37;
}

.slide-content a:active {
  background-color: #ba2732;
}

/*.slider-controls {
  z-index: 2;

  font-size: 0;
}

.slider-arrow {
  display: block;
  width: 22px;
  height: 40px;

  clip: rect(0, 0, 0, 0);
  font-size: 0;
}

.slider-arrow::before {
  position: absolute;
  top: 45px;
  left: 25px;

  cursor: pointer;
}

 .slider-arrow::after {
   position: absolute;
   top: 45px;
   right: 25px;

   cursor: pointer;
}

#product-1::before {
  content: "";

  position: absolute;
  bottom: 35px;
  left: 295px;

  display: inline-block;
  width: 10px;
  height: 10px;

  vertical-align: bottom;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-2::before {
  content: "";

  position: absolute;
  bottom: 35px;
  right: 295px;

  display: inline-block;
  width: 10px;
  height: 10px;

  vertical-align: bottom;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .categories-slider-wrapper #perforators {
  background-color: #cccccc;
  background-image: url("../img/slider-perforator.jpg");
}

#product-2:checked ~ .categories-slider-wrapper #drills {
  background-color: #cccccc;
  background-image: url("../img/slider-drill.jpg");
}


#product-1:checked ~ .categories-slider-wrapper #perforators,
#product-2:checked ~ .categories-slider-wrapper #drills {
  display: block;
}

#product-1:checked ~ #product-1::before,
#product-2:checked ~ #product-2::before {
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;
}*/

/*Популярные товары*/
.inner-page-catalogue {
  display: flex;
  justify-content: space-between;
}


/*Заголовок внутренней страницы*/
.inner-catalogue-wrapper .goods-title {
  background-color: #f2f6f8;
}

/*Непосредственно каталог*/
.catalogue-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  padding-left: 28px;
  padding-right: 24px;
  margin-bottom: 20px;

  vertical-align: middle;
  background-color: #f9f5f0;
}

.catalogue-title h2 {
  display: inline-block;
/*  align-self: flex-start;*/
  padding: 0px;
  margin: 0px;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.catalogue-title a {
  display: block;
  box-sizing: border-box;
  padding: 12px 10px 10px 10px;
  min-width: 251px;

  text-align: center;
  vertical-align: middle;
  background-color: #ee3643;
  border-radius: 3px;
}

.catalogue-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  margin-top: 10px;
  padding: 0px;

  list-style: none;
}

.catalogue-item {
  position: relative;
  display: inline-block;
  width: 218px;
  height: 316px;
  margin-bottom: 20px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  border: 1px solid #eaeaea;
  text-align: center;
}

.catalogue-item img {
  width: 215px;
  height: 170px;
}

.flag-new::after {
    content: "";

    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    background-color: red;
    /*text-indent:-1000px;
    overflow:hidden;*/
    z-index:3;
    background:url("../img/flag-new.png") no-repeat 0 0;
}

.catalogue-item h4 {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 5px;
  margin-bottom: 12px;
}

.catalogue-item-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 18px;
}

.old-item-price {
  min-height: 20px;
  /*margin-bottom: 10px;*/
  color: #a9a9a9;
  text-decoration: line-through;
}

.current-item-price {
    position:relative;
    width:80px;
    margin:6px auto;
    margin-bottom:20px;
    padding:10px 27px;
    color: #ffffff;
    background:#ee3643;
    border-radius:3px;
}

.current-item-price::after {
    content:"";

    position:absolute;
    top: 0;
    right:-26px;
    width:0;
    height:0;
    border:19px solid white;
    border-left-color:#ee3643;
}

.item-pointed {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 2;
}

.catalogue-item .item-pointed {
  display: none;
}

.catalogue-item:hover .item-pointed,
.catalogue-item:focus .item-pointed {
  display: block;
}

.item-pointed .buy,
.item-pointed .to-bookmarks {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  font-family: "Cuprum", Arial, sans-serif;
  background-color: #63a63e;
  border:3px solid #63a63e;
  border-bottom-color:#367315;
  border-radius: 3px;
}

.item-pointed .buy:hover,
.item-pointed .button:focus {
  background-color: #5fbb2d;
}

.item-pointed .buy:active {
  background-color: #518534;
}

.item-pointed .to-bookmarks {
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.item-pointed .to-bookmarks:hover,
.item-pointed .to-bookmarks:focus {
  background-color: #ffffff;
  border-color: #32425c;
}

.item-pointed .to-bookmarks:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.3);
}

/*Популярные производители*/
.producers {
  margin-bottom: 65px;/*85 - 20 нижний отступ каталога производителей*/
}

.producers-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;

  list-style: none;
}

.producers-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 143px;
  margin-bottom: 20px;

  border: 1px solid #eaeaea;
}



/*Сервисы*/

.main-services {
  margin-bottom: 82px;
  padding-top: 70px;

  background-color: #f4f8fa;
  /*border-top: 64px solid transparent;*/
}

.main-services-title {
  display: block;
  width: 410px;
  height: 115px;
  margin-bottom: 55px;
}

.main-services h2 {
  margin: 0px;
  margin-bottom: 30px;
  padding: 0px;

  text-transform: uppercase;
  color: #000000;
}

.main-services p {
  margin: 0px;
  padding: 0px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-slide-wrapper {
  display: flex;
  justify-content: space-between;
}

.services-slide b {
  display: block;
  margin-bottom: 25px;
  /*font-family: "PT Sans", Arial, sans-serif;*/
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.services-slide p {
  display: block;
  width: 275px;
  height: 90px;
}

.guarantee p {
  width: 375px;
}

.services-selection {
  position: relative;
  width: 240px;
  margin: 0px;
  padding: 0px;
  text-align: left;
  list-style: none;
}

.services-selection::after {
  content: "";

  position: absolute;
  top: -40px;
  right: -5px;
  width: 20px;
  height: 280px;

  background-image: url("../img/services-divisor.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.services-button a {
  display: block;
  box-sizing: border-box;
  min-width: 240px;
  min-height: 62px;
  padding-top: 12px;
  padding-left: 22px;

  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
}


.services-button a:hover,
.services-button a:focus {
  color: #ffffff;

  background-color: #293449;
}

.services-current a {
  color: #32425c;
  background-color: #ffffff;
}


.services-button:nth-child(2) {
  border-bottom: 1px solid #4d637b;
}

/*.services-button a:last-child {
  height: 56px;
}*/

.services-list {
  margin: 0px;
  padding: 0px;

  list-style: none;
}

.services-slide {
  display: block;
  width: 620px;
  height: 285px;
}

.services-list .delivery-service {

  background-image: url("../img/services_delivery.png");
  min-height: 285px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.main-services .guarantee {
  display: none;

  background-image: url("../img/services_guarantee.png");
  min-height: 285px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.main-services .loan {
  display: none;

  background-image: url("../img/services_credit.png");
  min-height: 285px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.loan a {
  display: block;
  box-sizing: border-box;
  padding: 12px 10px 10px 10px;
  max-width: 195px;

  text-align: center;
  vertical-align: middle;
  background-color: #ee3643;
  border-radius: 3px;
}

/*Компания и Контакты*/
.technomart-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 85px;
}

.technomart-about h2 {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  text-transform: uppercase;
}

.technomart-about p {
  padding: 0;
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.technomart-about a {
  display: block;
  box-sizing: border-box;
  padding: 12px 10px 9px 10px;

  text-align: center;
  vertical-align: middle;
  background-color: #ee3643;
  border-radius: 3px;
}

.about-company {
  min-height: 369px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.delivery-companies {
  margin: 0;
  /*margin-bottom: 38px;*/
  padding: 0;
}

.delivery-companies li {
  position: relative;
  margin-left: 35px;
  margin-bottom: 20px;
}

.delivery-companies li::before {
  content: "";

  position: absolute;
  top: 9px;
  left: -35px;
  width: 25px;
  border: 1.5px solid #ee3643;

}

.about-company .company-details {
  min-width: 220px;
}

.about-company .shopping {
  margin-bottom: 5px;
}

.about-contacts {
  min-height: 369px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.about-contacts .take-away {
  /*margin-bottom: 30px;*/
}

.about-contacts .write-us-link {
  min-width: 300px;
}

.about-contacts .map-small {
  margin: 0;
  padding: 0;
  background: none;
  /*margin-bottom: 40px;*/
}

.delivery-companies {
  font: inherit;
  line-height: 20px;
  list-style: none;
}

/*Внутренняя страница пагинация*/
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  margin-top: 33px; /*53 - 20 (нижний отступ карточки товара)*/
  margin-bottom: 60px;
  padding: 0px;

  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item-current {
  display: block;
  text-align: center;
  vertical-align: middle;
  padding: 9px 16px;

  color: #ffffff;

  background-color: #ee3643;
}

.pagination-item a {
  display: block;
  text-align: center;
  vertical-align: middle;
  padding: 9px 15px;
  border: 1px solid rgba(0, 0, 0, 0.4); /*не уверена в значении непрозрачности*/
}

.pagination-item .next {
  padding: 9px 30px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid rgba(0, 0, 0, 0.6); /*не уверена в значении непрозрачности*/
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

/*Внутренняя страница описание*/
.catalogue-item-description {
  display: block;
  box-sizing: border-box;
  min-height: 260px;
  padding-top: 67px;
  background-color: #f2f6f8;
  color: #000000;
  /*border-top: 64px solid transparent;*/
}

.item-description-wrapper h2 {
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: 30px;

  color: #000000;
  text-transform: uppercase;
}

.catalogue-item-description p {
  display: block;
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/*Футер*/
.main-footer {
  margin: auto;
}

.bottom-site-navigation {
  color: #f3f7f9;

  background-color: #32425c;
}

.site-navigation-top {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.bottom-navigation-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  min-height: 192px;
}

.footer-logo {
  width: 220px;
  height: 68px;
  /*margin-right: 152px;*/
  /*margin-bottom: 30px;*/
}

.site-navigation-top {
  margin: 0px;
  padding: 0px;
}

.site-navigation-top li {
  display: inline-block;
  height: 55px;
  margin-top: 38px;
  margin-right: 55px;
}

.site-navigation-top a {
  display: block;

  color: #f1f5f7;
}

.site-navigation-top li:last-child {
  margin-right: 0;
}

.site-navigation-top a:hover,
.site-navigation-top a:focus {
  text-decoration: underline;
}

.site-navigation-top a:active {
  color: rgba(241, 245, 247, 0.5);
}

.bottom-address {
  display: inline-block;
  margin: 0px;
  /*margin-bottom: 45px;*/
  padding: 0px;
}

.site-navigation-bottom {
  margin: 0px;
  padding: 0px;

  list-style: none;
  font: inherit;
  color: #ffd180;
}

.site-navigation-bottom li {
  display: inline-block;
  /*height: 70px;*/
  margin-right: 55px;
}

.site-navigation-bottom li:last-child {
  margin-right: 0;
}

.site-navigation-bottom a {
  display: block;

  color: #ffd180;
}

.site-navigation-bottom a:hover,
.site-navigation-bottom a:focus {
  text-decoration: underline;
}

.site-navigation-bottom a:active {
  color: rgba(255, 209, 128, 0.5);
}

/*Тёмно-синяя часть Футера*/

.technomart-details {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.technomart-details p {
  /*display: inline-block;*/
  margin: 0px;
  padding: 0px;
}

.technomart-details-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  min-height: 105px;
}

.technomart-details .footer-copyright {
  margin-right: 162px;
}

.footer-social {
  display: block;
  margin-right: 120px;
}

.social-button {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}


/*не уверена, можно ли вставить фоном, или это обязательно
вставлять код svg в разметку*/

.footer-social .vk::after {
  content: "";

  position: absolute;
  top: 12px;
  left: 7px;
  width: 26px;
  height: 15px;
  /*background-color: red;*/
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-social .fb::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 8px;
  width: 21px;
  height: 21px;
  /*background-color: red;*/
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-social .instagram::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 10px;
  width: 21px;
  height: 21px;
  /*background-color: red;*/
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.technomart-details a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.technomart-details a:hover,
.technomart-details a:focus {
  text-decoration: underline;
}

.technomart-details a:active {
  color: #ee3643;
}

.technomart-details .footer-feedback {
  margin-right: 50px;
}

/*Модальные блоки*/
.modal {
  display: none;
}

/*Техномарт на карте*/


/*Напишите нам*/

.write-us-form {
  font-size: 18px;
  line-height: 18px;
}

.write-us-form input {
  font: inherit;
  font-size: 13px;
  line-height: 18px;

  background-color: transparent;
  border: 2px solid #dee3e4;
}

.write-us-form textarea {
  font: inherit;
  font-size: 13px;
  line-height: 18px;

  background-color: transparent;
  border: 2px solid #dee3e4;
}

.write-us-form button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
}

.write-us-part-send {
  background-color: #f4f4f4;
}

/*Корзина*/

.catalogue-cart {
  color: #000000;
}

.catalogue-purchase {
  list-style: none;
  background-color: #f1f1f1;
}

.catalogue-purchase a {
  font-size: 14px;
  line-height: 18px;
}

/*.catalogue-purchase*/ .continue a {
  color: #000000;

  background-color: #ffffff;

}
