body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.button {
  display: block;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.container {
  width: 940px;
  margin: 0 auto;
  /*padding: 0px 10px;*/
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Хедер*/
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;

  background-color: #f3f7f8;
}

/*Синяя часть хедера*/
.header-top-wrapper {
  width: 100%;
  height: 42px;
  /*margin-bottom: 46px;*/

  background-color: #32425c;
}

.header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.main-logo {
  display: block;
  float: left;
  width: 220px;
  height: 47px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 720px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation a {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;

  vertical-align: middle;
  color: #ffffff;
  background-color: #32425c;
}
.user-search {
  display: block;
  width: 270px;
}

.user-bookmarks {
  width: 150px;
}

.user-cart {
  width: 150px;
}

.user-order {
  width: 150px;
}

.user-order a {
  background-color: #63a63e;
}

.site-navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  max-width: 940px;
  margin: 0;
  padding: 0;

  line-height: 17px;
  list-style: none;
}

.site-navigation a {
  display: block;
  padding: 20px 32px;
  padding-bottom: 23px;

  color: #ffffff;
  vertical-align: middle;
  background-color: #32425c;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #293449;
}

.user-order a:hover,
.user-order a:focus {
  background-color: #5fbb2d;
}

.user-order a:active {
  color: rgba(255, 255, 255, 0.51);
  background-color: #518534;
}

.main-navigation {
  order: 3;
  margin-bottom: 60px;

  background-color: #32425c;
}

/*Светлая часть хедера*/

.header-bottom {
  order: 1;

  display: flex;
  justify-content: space-between;
  padding-top: 46px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.header-bottom h1 {
  width: 195px;
  margin: 0px;
  padding-top: 3px;
  padding-bottom: 40px;
  padding-left: 50px;
  /*padding-right: 70px;*/

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-contacts {
  display: inline-block;
  width: 290px;
  height: 70px;
  /*margin-right: 69px;*/

}

.header-phone {
  display: block;
  box-sizing: border-box;
  width: 270px;
  height: 45px;
  border: 3px solid #ffffff;

}

.header-phone a {

  color: #ee3643;
}

.header-address {
  margin: 0px;
  padding: 0px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.client-area {
    /*max-width: 285px;*/
    height: 45px;
}

.client-area span {
  display: inline-block;
  text-align: center;
}

.login-link a {
  display: block;
  padding: 12px;
  color: #000000;
  background-color: #ffffff;
}

.login-link-enter {
  min-width: 121px;
  margin-right: 10px;
}

.login-link-registration {
  min-width: 150px;
}

.client-area a:hover,
.client-area a:focus {
  color: #ee3643;
}

.client-area a:active {
  color: rgba(0, 0, 0, 0.3);
}

.private-area {
  list-style: none;
}

.private-area a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.private-area a:hover,
.private-area a:focus {
  color: #ee3643;
}

.private-area a:active {
  color: rgba(50, 66, 92, 0.3);
}

/*Хлебные крошки*/
.inner-catalogue-wrapper {
  position: relative;
}

.breadcrumbs {
  position: absolute;
  top: -40px;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
}

/*Фильтры и сортировка*/
.filters {
  width: 220px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}
.filters-header {
  height: 38px;
  margin-bottom: 20px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.filters-header h3 {
  display: inline-block;
}

.filters legend{
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filters-price input {
  font: inherit;
  font-size: 17px;
  line-height: 18px;
}

.filters button {
   font: inherit;
   background-color: transparent;
   border: 1px solid rgba(0, 0, 0, 0.5); /*не уверена в значении непрозрачности*/
}

.filters button:hover,
.filters button:focus {
  border-color: rgba(0, 0, 0, 0.6); /*не уверена в значении непрозрачности*/
}

.filters button:active {
  border-color: rgba(0, 0, 0, 0.4);
}

.inner-page-selected {
  width: 700px;
}

.sort-selection {
  display: flex;
  justify-content: space-between;
}

.sort-by {
  margin: 0px;
  padding: 0px;

  list-style: none;
}

.sort-by li {
  display: inline-block;
}

.sort-by a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort-by a:hover,
.sort-by a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-by a:active {
  color: #ee3643;
}

.sort-order a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-order a:hover,
.sort-order a:focus {
  color: #000000;
}

.sort-order {
  margin: 0px;
  padding: 0px;

  list-style: none;
}

.sort-order li {
  display: inline-block;
}

.sort-order a:active {
  color: #ee3643;
}

/*Категории товаров*/

.main-categories {


  margin-bottom: 53px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;



}

 .categories-list{
   display: flex;
   /*flex-direction: column;*/
   flex-wrap: wrap;
   justify-content: space-between;
   /*align-items: space-between;*/
   align-content: space-between;

   margin: 0;
   padding: 0;

   list-style: none;

}

.category-services {
  margin-top: -15px;
}

.categories-list li {
  margin: 0;
  padding: 0;
}

.category-item,
.category-services-item {
  display: block;
  box-sizing: border-box;
  width: 300px;
  height: 123px;
  /*margin-bottom: 20px;*/

  background-color: #ffbf47;
}

.tools {
  background-color: #3bbce3;
}

.machinery {
  background-color: #dc91d8;
}

.category-services-item:last-child {
  margin-bottom: 0px;
}

.discount {
  background-color: #8ed78f;

}

.categories-slider {
  position: relative;
}

.categories-sliders div {
  display: block;
  /*box-sizing: border-box;*/
  width: 620px;
  height: 266px;
  margin-top: -8px;
  background-color: #cccccc;


  list-style: none;
}


.perforators {

  background-image: url("../img/slider-perforator.jpg");
  background-repeat: no-repeat;
}

.drills {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background-color: #cccccc;
  background-image: url("../img/slider-drill.jpg");
}

.category-services-item {
margin-top: -4px;
}

.category-services h3 {
  font-size: 24px;
}

.categories-slider h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}

.categories-slider span {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.category-services-item li {
  margin: 0;
  padding: 0;
}

.categories-slider .button {
  background-color: #ee3643;
}

.categories-slider .button:hover,
.categories-slider .button:focus {
  background-color: #ca2c37;
}

.categories-slider .button:active {
  background-color: #ba2732;
}

.category-services-item a,
.category-item  a {
  background-color: rgba(0, 0, 0, 0.1);
}

.category-services-item a:hover,
.category-services-item a:focus,
.category-item  a:hover,
.category-item  a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.category-services-item a:active,
.category-item  a:active {
  background-color: rgba(0, 0, 0, 0.3);
}


/*Популярные товары*/
.inner-page-catalogue {
  display: flex;
  justify-content: space-between;
}


/*Заголовок внутренней страницы*/
.goods-title {
  background-color: #f2f6f8;
}

/*Непосредственно каталог*/
.catalogue-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  padding-left: 28px;
  padding-right: 24px;
  margin-bottom: 20px;

  vertical-align: middle;
  background-color: #f9f5f0;
}

.catalogue-title h2 {
  display: block;
/*  align-self: flex-start;*/
  padding: 0px;
  margin: 0px;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.catalogue-title a {
  /*align-self: flex-end;*/
}

.catalogue-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;

  list-style: none;
}

.catalogue-item {
  display: inline-block;
  width: 218px;
  height: 316px;
  margin-bottom: 20px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  border: 1px solid #eaeaea;
}

.catalogue-item-price {
  font-size: 17px;
  line-height: 18px;
}

.old-item-price {
  color: #a9a9a9;
  text-decoration: line-through;
}

.current-item-price {
  color: #ffffff;

  background-color: #ee3643;
}

.item-pointed .button {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #63a63e;
}

.item-pointed .button:hover,
.item-pointed .button:focus {
  background-color: #5fbb2d;
}

.item-pointed .button:active {
  background-color: #518534;
}

.item-pointed .to-bookmarks {
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.item-pointed .to-bookmarks:hover,
.item-pointed .to-bookmarks:focus {
  background-color: #ffffff;
  border-color: #32425c;
}

.item-pointed .to-bookmarks:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.3);
}

/*Популярные производители*/
.producers {
  margin-bottom: 65px;/*85 - 20 нижний отступ каталога производителей*/
}

.producers-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;

  list-style: none;
}

.producers-list li {
  width: 218px;
  height: 143px;
  margin-bottom: 20px;

  border: 1px solid #eaeaea;
}

/*Сервисы*/

.main-services {
  margin-bottom: 82px;
  padding-top: 68px;

  background-color: #f4f8fa;
  /*border-top: 64px solid transparent;*/
}

.main-services-title {
  display: block;
  width: 410px;
  height: 115px;
  margin-bottom: 57px;
}

.main-services h2 {
  margin: 0px;
  margin-bottom: 32px;
  padding: 0px;

  text-transform: uppercase;
  color: #000000;
}

.main-services p {
  margin: 0px;
  padding: 0px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-slide-wrapper {
  display: flex;
  justify-content: space-between;
}

.services-slide b {
  display: block;
  margin-bottom: 35px;
  /*font-family: "PT Sans", Arial, sans-serif;*/
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.services-slide p {
  display: block;
  width: 280px;
  height: 90px;
}

.services-selection {
  width: 240px;
  margin: 0px;
  padding: 0px;
  text-align: left;
  list-style: none;
}

.services-selection li:nth-child(2) {
  border-bottom: 1px solid #4d637b;
}

.services-button {
  display: block;
  width: 240px;
  height: 60px;

  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
}


.services-button:hover,
.services-button:focus {
  color: #ffffff;

  background-color: #293449;
}

.services-current {
  color: #32425c;
  background-color: #ffffff;
}

.services-list {
  margin: 0px;
  padding: 0px;

  list-style: none;
}

.services-slide {
  display: block;
  width: 620px;
  height: 285px;
}

.services-list .delivery {
  background-image: url("../img/services_delivery.png");
  min-height: 285px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.main-services .guarantee {
  display: none;

  background-image: url("../img/services_guarantee.png");
  min-height: 285px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.main-services .loan {
  display: none;

  background-image: url("../img/services_credit.png");
  min-height: 285px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

/*Компания и Контакты*/
.technomart-about {
  height: 366px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.technomart-about h2 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  text-transform: uppercase;
}

.technomart-about p {
  padding: 0;
  margin: 0;
  margin-bottom: 28px;
}

.about-company {
  width: 525px;
  height: 380px;
}

.about-contacts {
  width: 305px;
  height: 380px;
}

.technomart-about p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.delivery-companies {
  font: inherit;
  line-height: 20px;
  list-style: none;
}

/*Внутренняя страница пагинация*/
.pagination-list {
  margin: 0px;
  margin-top: 33px; /*53 - 20 (нижний отступ карточки товара)*/
  margin-bottom: 60px;
  padding: 0px;

  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.pagination-list li {
  display: inline-block;
}

.pagination-item-current {
  color: #ffffff;

  background-color: #ee3643;
}

.pagination-item a {
  border: 1px solid rgba(0, 0, 0, 0.4); /*не уверена в значении непрозрачности*/
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid rgba(0, 0, 0, 0.6); /*не уверена в значении непрозрачности*/
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

/*Внутренняя страница описание*/
.catalogue-item-description {
  height: 261px;
  padding-top: 64px;
  background-color: #f2f6f8;
  color: #000000;
  /*border-top: 64px solid transparent;*/
}

.catalogue-item-description h2 {
  display: block;
  margin-bottom: 35px;

  color: #000000;
}

.catalogue-item-description p {
  display: block;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/*Футер*/
.main-footer {
  margin: auto;
}

.bottom-site-navigation {
  font: inherit;
  color: #f3f7f9;

  background-color: #32425c;
}

.site-navigation-top {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.bottom-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom-navigation-wrapper .main-logo {
  margin-bottom: 30px;
}

.site-navigation-top {
  margin: 0px;
  padding: 0px;
}

.site-navigation-top li {
  display: inline-block;
}

.site-navigation-top a {
  display: block;
  height: 70px;
  margin-right: 60px;

  font: inherit;
  color: #f1f5f7;
}

.site-navigation-top a:hover,
.site-navigation-top a:focus {
  text-decoration: underline;
}

.site-navigation-top a:active {
  color: rgba(241, 245, 247, 0.5);
}

.bottom-address {
  display: inline-block;
  margin: 0px;
  margin-bottom: 25px;
  padding: 0px;
}

.site-navigation-bottom {
  margin: 0px;
  padding: 0px;

  list-style: none;
  font: inherit;
  color: #ffd180;
}

.site-navigation-bottom li {
  display: inline-block;
}

.site-navigation-bottom a {
  display: block;
  height: 70px;
  margin-right: 55px;

  font: inherit;
  color: #ffd180;
}

.site-navigation-bottom a:hover,
.site-navigation-bottom a:focus {
  text-decoration: underline;
}

.site-navigation-bottom a:active {
  color: rgba(255, 209, 128, 0.5);
}

/*Тёмно-синяя часть Футера*/

.technomart-details {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.technomart-details p {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.technomart-details-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  width: 235px;
  height: 107px;
}

.footer-social {
  display: block;
}

.footer-social a {
  display: inline-block;
}

.technomart-details a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.technomart-details a:hover,
.technomart-details a:focus {
  text-decoration: underline;
}

.technomart-details a:active {
  color: #ee3643;
}

/*Модальные блоки*/
.modal {
  display: none;
}

/*Техномарт на карте*/


/*Напишите нам*/

.write-us-form {
  font-size: 18px;
  line-height: 18px;
}

.write-us-form input {
  font: inherit;
  font-size: 13px;
  line-height: 18px;

  background-color: transparent;
  border: 2px solid #dee3e4;
}

.write-us-form textarea {
  font: inherit;
  font-size: 13px;
  line-height: 18px;

  background-color: transparent;
  border: 2px solid #dee3e4;
}

.write-us-form button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
}

.write-us-part-send {
  background-color: #f4f4f4;
}

/*Корзина*/

.catalogue-cart {
  color: #000000;
}

.catalogue-purchase {
  list-style: none;
  background-color: #f1f1f1;
}

.catalogue-purchase a {
  font-size: 14px;
  line-height: 18px;
}

/*.catalogue-purchase*/ .continue a {
  color: #000000;

  background-color: #ffffff;

}
